
.main-container{
    margin:auto;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    border:1px solid grey;
    margin-top: 250px;
}
.head{
    text-align: center;
}
.navbar{
    display: flex;
    flex-direction: row;
    background-color:lightgray;
    justify-content: center;
}
.navbar a{
    float:center;
    font-size: 16px;
    color: black;
    padding:14px 16px;
    text-decoration: none;    
}
.navbar a:hover{
    background-color:lightblue;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
button:hover {
  opacity: 0.8;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}